*{
    margin: 0%;
    padding: 0%;
    font-family: "Bebas Neue", sans-serif;

}


.padre{
    background-color: $second-color;
}


.armado{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    background-color: #fff;
    padding: 2rem;

    .armado__info{
        background-color: $second-color;
        ;
        text-align: center;

    }
    .armado__info img{
        width: 200px;
        height: 200px;
        border: 2px solid #0000ff;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin: 5px;
    }

}

.foo{
    margin-top: 40px;

    .foo__pie{
        @include flex-evenly;
        background-color: #f7cfd8;
        margin: 6px;
        border: 2px solid $primary-color;
        
    }

    a{
        text-decoration: none;
        text-transform: capitalize;
        display: block;
        padding: 15px 20px;
        color: #0000ff;
    }
}

